

  body {
    background: rgb(196, 194, 228);
    box-sizing: border-box;
  }


.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  border: 5px solid purple; 
}

.a {
  background-color: grey;
  height: 15vh;
  width: 93vw;
  border: 1px solid;
 }

.b { 
  background-color:blueviolet;
  height:30vh;
  width: 93vw; 
}

.bcde-container {
  border: 2px solid;
  display: flex;
  flex-direction: column;
}

.cde {
  display: flex;
  flex-direction: row;
  /* border: 1px solid; */
  justify-content: center;
  justify-content: space-evenly;
  height: 15vh;
}

.c {
  width: 30vw;
  border: 2px solid;
  background-color: blue;
}

.d {
  width: 30vw;
  border: 2px solid; 
  background-color: yellow;
}

.e {
  width: 30vw;
  background-color: brown;
  border: 2px solid;
}

.f {
  height: 15vh;
  width: 93vw;
  border: 2px solid;
  box-sizing: border-box;
  background-color: rgb(30, 202, 81);
}

  
 
@media screen and (min-width: 600px) {
 
  body {
    background: rgb(228, 215, 194);
  }

  .container{
    border: 5px solid purple;  
  }

  .a {
    width: 99%;
  }

  .b {
    height: 50vh;
    width: 70vw; 
    order: 1;
  }

  .bcdef-container {
    display: flex;
  }

  .bcde-container {
    order: 1;
    justify-content: space-between;
   
  }

  .cde {
    /* border: 1px solid; */
    align-items: start;
    justify-content: start;
    width: 70vw;
    order: 2;
    justify-content: space-between;
  }

  .c {
    height: 20vh;
    border: 2px solid;
    background-color: blue;
    width: 20vw;
  }

  .d {
    height: 20vh;
    border: 2px solid; 
    background-color: yellow;
    width: 20vw;
  }

  .e {
    height: 20vh;
    background-color: brown;
    border: 2px solid;
    width: 20vw;
  }

  .f {
    height: 75vh;
    width: 25vw;
    order: 1;
  }
}
 
 
 